* {
    font-family: "Gill Sans", sans-serif;
    margin: 0;
    padding: 0;
}

/* Nave part */
.nav-ber {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    margin-top: 50px;
}

.nav-items {
    display: flex;
    list-style: none;

}

.nav-item {
    margin-right: 20px;
    font-size: 18px;
}

/* Header part */

.header {
    text-align: center;
    margin: 100px;
}

.header-title {
    margin-bottom: 15px;
}

.btn-praymary {
    padding: 10px;
    background: tomato;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
}

.header-img {
    width: 100%;
    margin-top: 30px;
}

/* <!-- Feature part */

.img-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    margin: 100px;
}

.team-img {
    height: 342px;
    width: 342px;
    border: 1px solid gold;
    border-radius: 5px;
}

.feature-section {
    display: flex;
    align-items: center;
}

/* Service part */

.service-part {
    display: flex;
    padding: 10%;
}

.service-part-title {
    padding-left: 20px;
    margin-bottom: 10px;
    border-left: 3px solid gold;
}

.service-details {
    margin-top: 40px;
}

.service-part-img {
    margin-left: 10px;
    padding: 10px;
}

.experence-tag {
    text-align: center;
    background: tomato;
    width: 20%;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    margin-top: -200px;
    color: white;
    position: sticky;
}